/* 2019/09/04 version */
* {
    margin: 0;
    padding: 0;
}




/* 2019/08/25 version */
/* * {
    margin: 0;
    padding: 0;
}

article {
    overflow: auto;
    padding: 1px;
}

/* .header-container {
    display: flex;
    justify-content: center;
} */

/* .header {
    display: flex;
    justify-content: center;
} */

/* article {
    background-image: url("img/bt-bg.png");
    background-repeat: repeat-y;
    padding: 10px;
    display: flex;
    justify-content: center;
} */