* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    justify-content: center;
}

.header {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}